p,
ul,
figure,
blockquote,
h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: normal;
}

div {
  box-sizing: border-box;
}

ul {
  list-style: outside none;
}

input,
textarea {
  font-family: $font-text;
}
