.uam_back {
  @include flex($justify: true, $justifyValue: center);
  @include transition(all);
  position: fixed;
  z-index: 2;
  bottom: 104px;
  left: $space;
  width: 60px;
  height: 60px;
  font-size: 30px;
  background-color: $color-yellow;
  border-radius: 100%;
  box-shadow: 0 4px 4px rgba($color-black, 0.25);
  opacity: 1;

  &-hide {
    opacity: 0;
  }

  i {
    pointer-events: none;
    transform: rotate(-180deg);
  }

  &:hover {
    text-decoration: none;
    transform: translateY(-$space-s);
  }

  /* Responsive */
  @media screen and (min-width: $screen-m-min) {
    left: inherit;
  }
}
