// Responsive
// size trigger
$screen-xl: 1600px;
$screen-l: 1200px;
$screen-m: 992px;
$screen-s: 768px;
$screen-xs: 576px;

// break point trigger
$screen-xl-min: $screen-xl;
$screen-l-max: $screen-xl-min - 1;
$screen-l-min: $screen-l;
$screen-m-max: $screen-l-min - 1;
$screen-m-min: $screen-m;
$screen-s-max: $screen-m-min - 1;
$screen-s-min: $screen-s;
$screen-xs-max: $screen-s-min - 1;
$screen-xs-min: $screen-xs;
$screen-xxs-max: $screen-xs-min - 1;
